.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; 
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: green !important;
}

.logo {
  width: 50px;
  position: absolute;
  left: 20px; /* Desktop view ke liye left pe rahega */
  bottom: 4px;
}

@media (max-width: 768px) {
  .logo {
    left: auto; /* Left ko hata kar */
    right: 20px; /* Right side me shift karenge */
    top: 4px;
  }
}
